h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', cursive;
}

.navbar, .navbar-light, .bg-light, bg-light{
    background-color: #34495E;
}



p{
    text-align: center;
}


h2{
    font-family: 'Oswald', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h6{
    text-align: center;
     background-color: grey;
}

.categories {
    font-size: 40px;
    color: darkblue;
    text-align: center;
}

body {
    background-color:#F8F8FF;

    font-family: 'Oswald', sans-serif;
    margin-bottom: 100px; /* Margin bottom by footer height */
    /* height: 100%; */
    /*background-image: url(embiid_color.jpg);*/
}

html {
    position: relative;
    min-height: 100%;
  }
  




  .footer, .page-footer, .footer-copyright, article, aside, figcaption, figure, footer, footer.page {
      background-color: #34495E;
       border-top: 1px solid black;
    bottom:0;
    /* width:100%; */
    position: absolute;   
  }


.container, .container-sm{
    max-width: 100%;
    padding-right: 0px;
    margin-right: 0px;
}

.container.footer{
background-color:#34495E;
 max-width: 100%;
    padding-right: 0px;
    margin-right: 0px;
}
 


  .btn-outline-info{
      border-color: darkblue;
      color: black;
  }

  .btn-outline-info:hover{
    border-color: black;
    color: black;
    background-image: url("matrix_gif.gif");
}



