h1 {
    font-size: 50px;
    text-align: center;
    font-family: Spartan, Raleway;
}




h2{
    font-family: Spartan, Raleway;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h6{
    text-align: center;
     background-color:#E5E7E9;
}

.categories {
    font-size: 40px;
    color: darkblue;
    text-align: center;
}

body {
    background-color:#F8F8FF;

    font-family: Spartan, Raleway;
    margin-bottom: 100px; /* Margin bottom by footer height */
    /* height: 100%; */
    /*background-image: url(embiid_color.jpg);*/
}

html {
    position: relative;
    min-height: 100%;
  }


  .footer, .page-footer, .footer-copyright, article, aside, figcaption, figure, footer, footer.page {
      background-color: #E5E7E9;
       border-top: 5px #E5E7E9;
    bottom:0;
    width:100%; 
    position: absolute;   
     margin-top: 5px;
  }

.footer .page-footer{
     background-color: #E5E7E9;
      width:100%; 
       margin-top: 5px;
}

.container, .container-sm{
    max-width: 100%;
    padding-right: 0px;
    margin-right: 0px;
     margin-top: 5px;
}

.container.footer{
background-color:#E5E7E9;
 max-width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 5px;
}
 


  .btn-outline-info{
      border-color: darkblue;
      color: black;
  }

.btn .btn-primary{
    
      color: #3498DB;

}

.bg-light{
    background-color: #E5E7E9;
}

